fastapi==0.111.0
uvicorn==0.30.1
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.10
python-dotenv==1.0.1
google-api-python-client==2.130.0
google-auth-oauthlib==1.2.0
paramiko
langgraph
langchain-openai
plaid-python
pandas
llama-cpp-python
jira-cloud-python